<div>
    <h4>By Demand Status</h4>
    <div style="height:200px;overflow-y:auto" data-ng-init="getDemandStatusData()">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Onsite</th>
                    <th>Offshore</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in byDemandStatusList ">
                    <td>
                        {{item.Key}}
                    </td>
                    <td>
                        {{item.Onsite}}
                    </td>
                    <td>
                        {{item.Offshore}}
                    </td>
                    <td>
                        {{item.Offshore+item.Onsite}}
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#001f50" style="color: #fff">
                        Total
                    </td>

                    <td>{{getTotal6('Onsite')}}</td>
                    <td>{{getTotal6('Offshore')}}</td>

                    <td>
                        {{getTotal6('Onsite')+getTotal('Offshore')}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>