<div class="navbar navbar-inverse navbar-fixed-top"  style="line-height:30px;">
    <div class="col-md-12 row no-gutters navbartop">
        <div class="col-md-7 col-sm-7 col-xs-7">
            <div><span><img alt="Wipro Logo" height="70" src="images/logo.png" /></span><span class="vertical-spacer3-inverse" style="color:white;font-size:30px">Spring Board</span></div>
        </div>
        <!--<div class="col-md-4 col-sm-4 col-xs-4 nopadding" ng-show="">
            Welcome Guest
        </div>-->

        <div class="col-md-1 col-sm-1 col-xs-1 pull-right nopadding">
            <!--<a class="btn clr-white" ng-click="logOut()" ng-show="authentication.isAuth">Logout</a>-->
            <!--<a ng-click="logIn()" ng-hide="">Login</a>-->
        </div>
    </div>
</div>